@import url('./styles.css');

:root {
    --column-padding-normal: 16px;
    --page-padding-inline: 3rem;
    --page-padding-block: 2rem;
    --page-padding-section: var(--page-padding-inline) var(--page-padding-block);
    --primary-background-color: var(--white-color);
    --primary-color: var(--purple);
    --primary-heading-color: var(--black-100);
    --layout-width-max: none;

    /* colors */
    --white-color: #fff;
    --white-100-color: #f8f8f8;
    --hot-red: #d21b4f ;
    --hot-red-hover: #c03e5a;
    --purple: hsl(241, 70%, 58%);
    --purple-100: hsl(241, 50%, 58%);
    --purple-200: hsl(241, 90%, 58%);
    --black-100: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    color: var(--primary-heading-color);
}

a {
    text-decoration: none;
    line-height: 0;
    border: none;
}

.page {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-areas: "hd" "main" "footer";
    grid-template-rows: auto 1fr auto;
}

.pageContent {
    margin-inline: auto;
    padding-inline: var(--page-padding-inline);
    max-width: var(--layout-width-max);
    min-height: 100%;
    justify-content: center;
}

header {
    max-height: fit-content;
    grid-area: hd;
    background-color: var(--primary-background-color);
    padding-block: 1rem;
    box-shadow: var(--dark-box-shadow);
    z-index: 1000;


    &>.pageContent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .logo {
        width: 150px;
    }

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-weight: 500;
        font-style: normal;
        text-wrap: nowrap;
    }

    & li {
        display: inline;
        padding: 0.5rem;
        color: var(--primary-color);
        font-weight: bold;

        &:hover {
            color: var(--purple-100);
        }
    }

    & #authBtn {
        background-color: var(--primary-color);
        color: var(--primary-background-color);
        border-radius: 0.2rem;

        &:hover {
            background-color: var(--purple-200);
            cursor: pointer;
        }
    }

    nav {
        display: none;
    }
}

main {
    grid-area: main;
    padding-block: var(--page-padding-block);
    background-color: #fafafa;
}

footer {
    grid-area: footer;
    padding-block: 1rem;
    background-color: var(--primary-background-color);
    min-height: 50px;
    box-shadow: var(--dark-box-shadow);
    z-index: 999;
    max-height: fit-content;

    .copyrights-notice {
        color: #616161;
        font-size: 0.88rem;
        font-weight: 500;
        text-align: center;
    }

    &>a {
        max-width: fit-content;
    }

    .social-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
        flex-wrap: wrap;

        & .social-btn {
            max-width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            & svg {
                width: 24px;
                height: 24px;
                fill: #616161;
                transition: fill 50ms ease-in;
            }

            & p {
                color: #616161;
            }

            &:hover {
                svg {
                    fill: var(--primary-color);
                }

                p {
                    color: var(--primary-color);
                }
            }
        }
    }

    & .social-diver {
        color: #616161;
        font-size: 1rem;
    }
}

/* Below 600px */
@media (max-width: 599px) {

    /* Your CSS rules for below 600px */
    :root {
        --page-padding-inline: none;
        --layout-width-max: 90%
    }

    .social-diver {
        display: none;
    }
}

/* From 600px to 900px */
@media (min-width: 600px) and (max-width: 900px) {

    /* Your CSS rules for 600px to 900px */
    .social-diver {
        display: none;
    }
}

/* From 901px and above */
@media (min-width: 901px) {

    /* Your CSS rules for 901px and above */
    :root {
        --layout-max-width: 1500px
    }

    header {
        & nav {
            display: block;
        }

        &>.pageContent {
            justify-content: space-between;

            .logo {
                width: 200px;
            }
        }
    }

    .pageContent {
        max-width: var(--layout-max-width);
    }
}