<footer>
    <div class="pageContent">
        <p class="copyrights-notice">2019-<%= new Date().getFullYear() %> © Nasriya Software, LLC.</p>
        <%- include('socialBar', locals.socials) %>
    </div>
</footer>