<body>
    <div class="page">
        <%- include('header') %>
        <main>
            <div class="pageContent">
                <h1><%= welcome %></h1>
            </div>            
        </main>
        <%- include('footer') %>
    </div>
</body>