* {
    margin: 0;
    padding: 0;
}

body main .pageContent {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4rem;
        background-image: linear-gradient(to right, #ee4266, #0f52ba);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}